<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.database" >


    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Display"
           android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.Display"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
         </activity>

        <activity android:name=".Signup"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Signup"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>

        <activity android:name=".Contact"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Contact"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Edit"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Welcome"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>

        <activity android:name=".GetContacts"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GetContacts"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    <activity android:name=".Image"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.Image"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
    </activity>


        <activity android:name=".DownloadImage"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DownloadImage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".DisplayPatient"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DisplayPatient"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".DisplayDoctor"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.DisplayDoctor"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Reminder"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Reminder"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".MoreInfoNotification"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MoreInfoNotification"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


        <activity android:name=".Flippy"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.Flippy"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
